.app{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 50px;
}

span{
    margin: 12px 0;
}

.area-input{
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.area-input input {
    width: 100%;
    margin-bottom: 12px;
    height: 60px;
    background-color: #cfcfcf;
    border: 0;
    border-radius: 6px;
    color: rgb(57, 54, 54);
    text-align: center;
    padding: 0 12px;
    font-size: 18px;
}

.area-input button{
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 6px;
    background-color: rgb(195, 142, 73);
    color: #fef9f9;
    font-size: 25px;
}

.area-input button:hover{
    background-color: rgb(162, 95, 8);
}

h2{
    margin-top: 28px;
}